footer.container-fluid
  .row.row-wavebright
  .row.bg-primary.footer-bg
    .col.d-none.d-md-block
    .col-6.d-flex.flex-column.justify-content-center
      a.my-2.d-flex.align-items-center(href="tel:491633455733" title="0163 34 55 733")
        bs5-icon.m-2(src="/assets/iconset/svg/icon_phone.svg", size="32")
        span.schrift1 0163 34 55 733
      // br
      a.my-2.d-flex.align-items-center(href="mailto:janina.garber@protonmail.com" title="janina.garber@protonmail.com")
        bs5-icon.m-2(src="/assets/iconset/svg/icon_mail.svg", size="32")
        span.schrift1 janina.garber@protonmail.com
    
  

  
      
      
    
  