footer.container-fluid
  .row.row-wavebright
  .row.bg-primary.footer-bg
    .col.d-none.d-md-block
    .col-6.d-flex.flex-column.justify-content-center
      .schrift1
        img(src="/assets/Telefon.svg", alt="telefon") 
        span 0163 34 55 733
        br.mb-4
        img(src="/assets/Mail.svg", alt="mail")
        span janina.garber@protonmail.com
    
   
  
    
      
      
    
  