bs5-sidebar#main-sidebar.bg-primary.text-dark(position="left").schrift
  a.nav-link(href="/angebote").a Angebote 
  a.nav-link(href="/preise").a Preise 
  a.nav-link(href="/ablauf").a Ablauf
  a.my-5.nav-link(href="/terminbuchen").a Termin buchen  
  img.my-4.img-fluid(src="/assets/Icon1.svg", alt="Icon1")