
.footerhorse {
    $link-color: rgb(31, 221, 31);
    $link-hover-color: rgb(0, 95, 0);


    margin-bottom: 0px;
    max-width: 1320px;
    width: 100%;
    height: 30px;
    margin: 30px;
    padding-top: -100px;
}

.row-wavebright {
    height: 22px;
    background-image: url(/assets/wavebright.svg);
    background-repeat: repeat-x;
    
}

.footer-bg {
    min-height: 250px;
    @include media-breakpoint-up(lg) {
        background-image: url(/assets/footerhorse.svg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
    }
}

