header {
    position: relative;

    .logo {
        position: relative;
        top: 110px;
        width: 100%;
        max-width: 100%;
        width: 60%;
        height: auto;
        transition: all 200ms ease-in-out;
        &:hover {
            transform: scale(1.05); 
        }
    }
    
}