// @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Bootstrap
@import "bootstrap";

// Riba
@import "../node_modules/@ribajs/core/src/index.scss";
@import "../node_modules/@ribajs/bs5/src/index.scss";
@import "../node_modules/@ribajs/router/src/index.scss";

// Custom
@import "footer";
@import "header";
@import "sidebar";


/* indie-flower-regular - latin */
@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/indie-flower-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/indie-flower-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/indie-flower-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/indie-flower-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/indie-flower-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/indie-flower-v17-latin-regular.svg#IndieFlower') format('svg'); /* Legacy iOS */
  }

  /* sunflower-300 - latin */
@font-face {
    font-family: 'Sunflower';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/sunflower-v14-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/sunflower-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/sunflower-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/sunflower-v14-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/sunflower-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/sunflower-v14-latin-300.svg#Sunflower') format('svg'); /* Legacy iOS */
  }
  

.schrift {
    font-family: "Indie Flower", cursive;
    font-size: 35px;
    color: black;
}

.schrift2 {
    font-family:"Sunflower";
    font-size: 23px;
    color: black;
}

.schrift3 {
    font-family: "Sunflower";
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.navbar {
    align-items: center;
}

.a {
    color: black;
    margin-left: 10px;
    transition: all 200ms ease-in-out;
    &:hover {
        font-weight: bold;
        transform: scale(1.05);
        color: #000000;
        text-decoration: underline;

    }
    &:visited {
        color: #000000;
    }
    &:active {
        color: #000000;
    }

}



.tb {
    max-width: 1000px;
    max-height: 1000px;
    width: 300px;
    height: auto;
    transition: all 200ms ease-in-out;

    .on-normal {
        display: block;
    }

    .on-hover {
        display: none;
    }

    &:hover {
        .on-normal {
            display: none;
        }
    
        .on-hover {
            display: block;
        }
        transform: scale(1.05);
        
    }

}


.underline {
    max-width: 100%;
    width: 85%;
    height: auto;
    margin-left: 18px;
}


.row-wave {
    height: 50px;
    background-image: url(/assets/wave-endless.svg);
    background-repeat: repeat-x;
}


.main-content {
    min-height: 60vh;
    margin-top: 125px;
    background-color: $green-200;
}

.jp {
    max-width: 85%;
    max-height: 85%;
}

.img-text-wrapper {
    position: relative;
    .text-content {
        position: absolute;
        top: 0;
        color: white;
    }
}