doctype html
html(lang='de')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/main.css' rel='stylesheet')
    title Janina Garber | Pferdeosteopathie
  body
    include ../partials/header.pug
    block content
    include ../partials/footer.pug
