//- page-a.pug
extends ../layout/default.pug

block content
  .container.schrift
    br
    .text.schrift.fs-1.strong.text-center.pt-3.mt-3 Ablauf
    .row
      .col-4.bg-primary
          img.img-fluid.jp(src="/assets/Pferdeostepathie-logo.svg")
      .col
          .p.schrift2.fs-4.mt-5 Die Behandlung Deines Pferdes beinhaltet eine ausführliche Anamnese, Ganganalyse an der Hand und eine Bewegungsanalyse des Pferdes unter dem Reiter mit gleichzeitiger Sitz- und Einwirkungsanalyse des Reiters, Palpation des ganzen Körpers und funktionelle Gelenkuntersuchung. Ebenfalls erfolgt ein Equipment-Check, spannend ist hier immer wieder das Thema Sattel.
          .p.schrift2.fs-4 Entdeckte Probleme werden besprochen, behandelt und ein Trainingsplan für Dein Pferd erarbeitet.
