//- page-a.pug
extends ../layout/default.pug

block content
  .container
    .row
      .col.pt-20
        h1 Ablauf
        .p Die Behandlung Deines Pferdes beinhaltet eine ausführliche Anamnese, Ganganalyse an der Hand und eine Bewegungsanalyse des Pferdes unter dem Reiter mit gleichzeitiger Sitz- und Einwirkungsanalyse des Reiters, Palpation des ganzen Körpers und funktionelle Gelenkuntersuchung. Ebenfalls erfolgt ein Equipment-Check, spannend ist hier immer wieder das Thema Sattel.
        .p Entdeckte Probleme werden besprochen, behandelt und ein Trainingsplan für Dein Pferd erarbeitet.
