//- page-a.pug
extends ../layout/default.pug

block content
  .container
    .row
      .col.pt-5.mt-5
        .h1.fs-1.strong.text-center.sm Ablauf
          .p.fs-4 Die Behandlung Deines Pferdes beinhaltet eine ausführliche Anamnese, Ganganalyse an der Hand und eine Bewegungsanalyse des Pferdes unter dem Reiter mit gleichzeitiger Sitz- und Einwirkungsanalyse des Reiters, Palpation des ganzen Körpers und funktionelle Gelenkuntersuchung. Ebenfalls erfolgt ein Equipment-Check, spannend ist hier immer wieder das Thema Sattel.
          .p.fs-4 Entdeckte Probleme werden besprochen, behandelt und ein Trainingsplan für Dein Pferd erarbeitet.
