//- page-a.pug
extends ../layout/default.pug

block content
  .container
    .row
      .col.pt5
        h1 Angebot
        h1 Preise
        include ../partials/test.html
        include ../partials/test.pug