//- page-a.pug
extends ../layout/default.pug

block content
  .container.schrift
    br
    .text.schrift.fs-1.strong.text-center.pt-3.mt-3 Ablauf
    .row.bg-wave-light-green.wave-top
    .row.text-center
      .col-4
        .col.bg-primary
          .p
          .text.schrift1.text-center.mt-5 Pferd
          img.img-responsive.img-center.jp(src="/assets/icon-process-horse.svg")
      .col
          .p.schrift3.fs-4.mt-5.pt-3 Die Behandlung Deines Pferdes beinhaltet eine ausführliche Anamnese, Ganganalyse an der Hand und eine Bewegungsanalyse des Pferdes unter dem Reiter mit gleichzeitiger Sitz- und Einwirkungsanalyse des Reiters, Palpation des ganzen Körpers und funktionelle Gelenkuntersuchung. Ebenfalls erfolgt ein Equipment-Check, spannend ist hier immer wieder das Thema Sattel.
          .p.schrift3.fs-4 Entdeckte Probleme werden besprochen, behandelt und ein Trainingsplan für Dein Pferd erarbeitet.
    .row.bg-wave-light-green.wave-bottom
