//- page-a.pug
extends ../layout/default.pug

block content
  .container.bg-secondary.pt-5
    .row
      .col.pt-4
        h1.schrift3.text-center Angebote   
        .row
          .col-5
            img.img-fluid.jp(src="/assets/Pferdeostepathie-logo.svg")
          .col-7
            p Nach erfolgreicher Beendigung der Ausbildung zur staatlich anerkannten Physiotherapeutin bilde ich mich stetig in den Bereichen der Humanosteopathie fort. Daraus ergeben sich folgende Behandlungsmöglichkeiten für Dich:
            ul
              li Allgemeine Krankengymnastik
              li Massagetherapie 
              li Manuelle Lymphdrainage
              li Fußreflexzonentherapie
              li Taping
              li Kiefergelenksbehandlungen (CMD)
              li Cranio-sacrale Therapie 
              li KG nach Bobath
            p Berufsbegleitend absolvierte ich eine Ausbildung zur Pferdeosteopathin an der Fachschule Welter-Böller.
              ul Für Dein Pferd biete ich diese Behandlungen an:
                li Befund und osteopathische Behandlung mit Trainingsempfehlung
                li Tape
                li Faszientherapie (MFR)
                li  Stresspunktbehandlung
                li  Massagetherapie
                li  Körperarbeit (Behandlungstechnik zur Verbesserung der Körperwahrnehmung für Dein Pferd)
          .col-12
  .card.bg-secondary.pt-3.pb-3
   .row.g-0
    .col-md-1
    .col-md-3
     img.img-fluid(src="/assets/schimmel.png")
    .col-md-7
     .card.shadow-lg(style="width: 18rem;")
     .card.title.schrift3.bg-secondary
      .h1.bg-primarygreen 
        u.strong.fs-1 Senioren und/oder Schulpferde Tarif
      p1.schrift3.color.black.fs-4 Für alte Pferde, die ihren Ruhestand genießen dürfen, biete ich Behandlungen zu vergünstigten Konditionen an.
        | Dasselbe gilt für aktive Schulpferde und -ponies, die einen tollen Job machen und höchsten Respekt verdienen. 
        | Sprecht mich gerne an, wenn ihr ein Seniorpferd besitzt oder Betreiber einer Reitschule seid! 
//- //- picture with text to learn
//-  .container-sm.bg-primary.pt-5.pr-5
//-    .row
//-      .col.img-text-wrapper
//-        img.img-fluid(src="/assets/schimmel.png")
//-        .text-content
//-          h1 Senioren und/oder Schulpferde Tarif
//-           | Für alte Pferde, die ihren Ruhestand genießen dürfen, biete ich Behandlungen zu vergünstigten Konditionen an.
//-           | Dasselbe gilt für aktive Schulpferde und -ponies, die einen tollen Job machen und höchsten Respekt verdienen. 
//-           | Sprecht mich gerne an, wenn ihr ein Seniorpferd besitzt oder Betreiber einer Reitschule seid!
