//- page-a.pug
extends ../layout/default.pug

block content
  .container.bg-secondary.pt-5
    .row
      .col.pt-4
        h1.schrift.text-center Hallo und willkommen! Schön, dass Du hergefunden hast.
        .row
          .col-6.bg-green.schrift2.d-flex.align-items-center
            p Mein Name ist Janina Garber und ich bin Humanphysiotherapeutin und Osteopathin für Pferde.
              | Durch die Kombination dieser beiden Berufe bin ich in der Lage, Deinem Pferd und Dir bestmöglich auf dem Weg zu einem harmonischen Miteinander zu helfen. 
          .col-6.d-flex.justify-content-center.align-items-center
            img.img-fluid.jp(src="/assets/janina+pferd.jpg")
        p.schrift3.text-center Ich freue mich auf Dich und Dein Pferd, egal welcher Rasse und unabhängig davon, in welcher Sparte der Reiterei Du Dich zuhause fühlst.
    
