//- page-a.pug
extends ../layout/default.pug

block content
  .container.schrift3.pt-3
    .row
      .col
        h1 Preiseliste
        .br
          h2 Pferd
          li Erstbehandlung     130 €
          li Nachbehandlung (innerhalb eines Jahres)   90 €
          li Tapeanlage (als Einzelbuchung, sonst inklusive)     25  €
          li Massage / Faszienbehandlung / Körperarbeit (als Einzelbuchung, sonst inklusive) 60  €
          br 
          li Fahrtkosten bis 25km inklusive, danach 0,60 € / km
