//- page-a.pug
extends ../layout/default.pug

block content
  .container.schrift3.pt-5.mx-auto.w-50
    .row
      .col
        .text.schrift.fs-1.strong.text-center.px-4.mt-4 Preise
        .br
            table.table.table-primary.table-lg.table-striped.table-hover.schrift-3.fs-3.pt-3.mt-5.h-auto
                thead
                  tr.schrift-3
                    th(scope='col') Therapie
                    |      
                    th(scope='col') Preis
                    |
                tbody
                  tr
                    th(scope='row') Erstbehandlung
                    |
                    td 130 €
                  |
                  tr
                    th(scope='row') Nachbehandlung (innerhalb eines Jahres)
                    |
                    td 90 €
                  |
                  tr
                    th(scope='row') Tapeanlage (als Einzelbuchung, sonst inklusive)
                    |
                    td 25 €
                  |
                  tr
                    th(scope='row') Massage / Faszienbehandlung / Körperarbeit (als Einzelbuchung, sonst inklusive)
                    |
                    td 60 €
                  |
                  tr
                    th(scope='row') Sitzschulung und Reitunterricht
                    |
                    td 35 €
                  |
            p.text-center.mt-3.pt-5.schrift Fahrtkosten bis 25km inklusive, danach 0,60 € / km
